/* 
 *  Document   : stylesheet
 *  Created on : Oct 9, 2011, 9:01:52 AM
 *  Author     : Eric Hydrick
 *  Description:
 *      Holds styling informaiton for the navigator webapp
*/


body 
{ 
    height: 100%; 
    margin: 0; 
    padding: 0 
}

div.button_container
{
    list-style-type: none;
}

div.button_container input
{
    float: left;
    margin: 5px;
    width: 45%;
}

div.button_container input:nth-child(odd)
{
    clear: left;
}

div.suggestions
{
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: absolute;
}

div.suggestions div
{
    cursor: default;
    padding: 0px 3px;
}

div.suggestions div.current
{
    background-color: #3366CC;
    color: white;
}

html 
{
    height: 100% 
}

input
{
    margin-top: 10px;
}

#map_canvas 
{ 
    height: 100%;
}

#nav_canvas
{
    float: left;
    height: 100%;
    overflow: scroll;
    text-align: center;
    width: 26%;
}
