body 
{ 
    height: 100%; 
    margin: 0; 
    padding: 0 
}

div.button_container
{
    list-style-type: none;
}

div.button_container button
{
    margin: 5px;
    width: 95%;
}

div.suggestions
{
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: absolute;
}

div.suggestions div
{
    cursor: default;
    padding: 0px 3px;
}

div.suggestions div.current
{
    background-color: #3366CC;
    color: white;
}

html 
{
    height: 100% 
}

input
{
    margin-top: 10px;
}

#map_canvas 
{ 
    height: 100%;
}

#nav_canvas
{
    float: left;
    height: 100%;
    overflow: scroll;
    text-align: center;
    width: 26%;
}

@media only screen and (max-width: 600px)
    {
    body 
    { 
        height: 100%; 
        margin: 0; 
        padding: 0 
    }

    div.button_container
    {
        list-style-type: none;
    }

    div.button_container input
    {
        display: block;
        float: both;
        margin: 10px;
        width: 100%;
    }

    div.suggestions
    {
        background-color: white;
        border: 1px solid black;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: absolute;
    }

    div.suggestions div
    {
        cursor: default;
        padding: 0px 3px;
    }

    div.suggestions div.current
    {
        background-color: #3366CC;
        color: white;
    }

    html 
    {
        height: 100% 
    }

    input
    {
        margin-top: 10px;
    }

    #map_canvas 
    { 
    height: 100%;
    width: 100%;
    }

    #nav_canvas
    {
        float: top;
        height: 5%;
        min-width: 100%;
        overflow: scroll;
        text-align: center;
    }
}
